@switch (type) {
  @case ('text') {
    <ng-container *ngTemplateOutlet="standardControl" />
  }
  @case ('email') {
    <ng-container *ngTemplateOutlet="standardControl" />
  }
  @case ('password') {
    <ng-container *ngTemplateOutlet="standardControl" />
  }
  @case ('checkbox') {
    <ng-container *ngTemplateOutlet="checkboxControl" />
  }
}

<ng-template #standardControl>
  <div class="control">
    <ng-container *ngTemplateOutlet="label" />

    <input
      [id]="controlName"
      [formControl]="control"
      [type]="type"
      [attr.data-cy]="controlName"
      autocomplete="off" />

    @if (control.touched && control.errors) {
      <asm-form-control-error
        [attr.data-cy]="controlName + '-error'"
        [errors]="control.errors"
        [displayName]="displayName" />
    }
  </div>
</ng-template>

<ng-template #checkboxControl>
  <div>
    <input
      [id]="controlName"
      [attr.data-cy]="controlName"
      [formControl]="control"
      type="checkbox" />
    <ng-container *ngTemplateOutlet="label" />
  </div>
</ng-template>

<ng-template #label>
  <label [for]="controlName">
    {{ displayName }}
    @if (isRequired) {
      <span class="required">*</span>
    }
  </label>
</ng-template>
